<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "base_css.html" %}
    <title>Авторизация</title>
</head>
<body>
    <h1 style="text-align:center">Авторизация</h1>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Ввод данных
            </div>
            <div class="card_body">
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <div class="form-group form-row">
                        <div class="col col-form-label">
                            Имя пользователя
                        </div>
                        <div class="col">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col col-form-label">
                            Пароль
                        </div>
                        <div class="col">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="submit" value="Войти" class="btn btn-primary btn-block">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>