<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/" style="outline:none">Demosite</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% for link in menu %}
                    {% if link.active %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ link.link }}" style="outline:none">{{ link.text }}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ link.link }}" style="outline:none">{{ link.text }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="navbar-nav mr-1">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ log.link }}" style="outline:none">{{ log.text }}</a>
                </li>
            </ul>
        </div>
    </nav>
</header>