{% extends "base.html" %}
{% block content %}
    <h1 style="text-align:center">Калькулятор</h1>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Ввод данных
                </div>
                <div class="card-body">
                    <form action="/calc/" method="post">
                        {% csrf_token %}
                        <div class="form-group form-row">
                            <div class="col col-form-label">
                                {{ form.first.label }}
                            </div>
                            <div class="col">
                                {{ form.first }}
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col col-form-label">
                                {{ form.second.label }}
                            </div>
                            <div class="col align-items-center">
                                {{ form.second }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <input type="submit" class="btn btn-primary float-right btn-block" value="Вычислить">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    Результат вычисления
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <blockquote class="blockquote">
                                <p class="mb-0">Первое число: {{ first }}</p>
                            </blockquote>
                        </li>
                        <li>
                            <blockquote class="blockquote">
                                <p class="mb-0">Второе число: {{ second }}</p>
                            </blockquote>
                        </li>
                        <li>
                            <blockquote class="blockquote">
                                {% if result != '' %}
                                <p class="mb-0">Сумма чисел {{ first }} и {{ second }} равна {{ sum }}</p>
                                {% else %}
                                <p class="mb-0">Сумма чисел ...</p>
                                {% endif %}
                            </blockquote>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card ">
                <div class="card-header">
                    История вычислений
                </div>
                <div class="card-body">
                    <table class="table text-center table-striped">
                        <thead class="thead-dark">
                            <th><b>ID</b></th>
                            <th><b>Дата</b></th>
                            <th><b>Первое число</b></th>
                            <th><b>Второе число</b></th>
                            <th><b>Результат</b></th>
                            <th><b>Автор</b></th>
                        </thead>
                        {% for comp in history %}
                            <tr>
                                <td>{{ comp.id }}</td>
                                <td>{{ comp.date }}</td>
                                <td>{{ comp.first }}</td>
                                <td>{{ comp.second }}</td>
                                <td>{{ comp.sum }}</td>
                                <td>{{ comp.author }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}