{% extends "base.html" %}
{% block content %}
{% load static %}
<form action="/clicker/" method="post" class="row">
    {% csrf_token %}
    <div class="col-xl-9">
        <div>Доставлено лично Дедом Морозом: {{ form.count_santa }}</div>
        <div>Доставлено "Почтой России": {{ form.count_mail }}</div>
        <div>Доставлено эльфами-курьерами: {{ form.count_elves }}</div>
    </div>
    <div class="col-xl-3">
        <button type="submit" class="btn btn-success" style="width:10vw;margin-right:2vw;">Сохранить</button><br>
        <button id="count_triple" type="button" class="btn btn-primary" style="width:10vw;margin-top:1vh;margin-right:2vw;">Доставить всеми<br>тремя способами</button>
    </div>
</form>
<div class="row">
    <div class="col" style="margin-top:8vh;">
        <h2 style="text-align:center;">Доставит Дед Мороз</h2>
        <img src="{% static 'santa.jpg' %}" height="330">
        <button id="santa_but" class="btn" style="background:rgba(115, 190, 80, 0.8);color:black;width:4.2rem;height:4.2rem;font-size:1.8rem;border:1px solid #cccccc;position:relative;bottom:200px;left:430px;">+1</button>
    </div>
    <div class="col" style="margin-top:8vh;">
        <h2 style="text-align:center;">Доставит ПР</h2>
        <img src="{% static 'mail.jpg' %}" height="330">
        <button id="mail_but" class="btn" style="background:rgba(115, 190, 80, 0.8);color:black;width:4.2rem;height:4.2rem;font-size:1.8rem;border:1px solid #3caac8;position:relative;bottom:140px;left:275px;">+1</button>
    </div>
</div>
<div class="row">
    <div class="col" style="margin-top:8vh;">
        <h2 style="text-align:center;">Доставят эльфы</h2>
        <img src="{% static 'elves.jpeg' %}" height="305">
        <button id="elves_but" class="btn" style="background:rgba(115, 190, 80, 0.8);color:black;width:4.2rem;height:4.2rem;font-size:1.8rem;border:1px solid #cccccc;position:relative;bottom:280px;left:30px;">+1</button>
    </div>
    <div class="col" style="margin-top:8vh;">
        <h2 style="text-align:center;">Не люблю Новый Год</h2>
        <img src="{% static 'penguin.jpg' %}" height="305">
        <button id="new_year_but" class="btn" style="background:rgba(115, 190, 80, 0.8);color:black;width:14rem;height:4rem;font-size:1.6rem;border:1px solid #cccccc;position:relative;bottom:175px;left:200px;">Сбросить всё</button>
    </div>
</div>
{% endblock %}
{% block ext_js %}
<script src="{% static 'clicker.js' %}"></script>
{% endblock %}
