{% extends "base.html" %}
{% block content %}
    <div class="card">
        <div class="card-header">
            Случайное выражение
        </div>
        <div class="card-body">
            <span>
                {% for num in nums %}
                    {% if num == 0 %}
                        &nbsp;-&nbsp;
                    {% elif num == -1 %}
                        &nbsp;+&nbsp;
                    {% else %}
                        {{ num }}
                    {% endif %}
                {% endfor %}
                &nbsp;=&nbsp;{{ result }}
            </span>
        </div>
    </div>
{% endblock %}