{% extends "base.html" %}
{% block content %}
    <div class="card">
        <div class="card-header">
            История выражений
        </div>
        <div class="card-body">
            <table border="1px" cellpadding="5px" style="width:100%;text-align: center;">
                <tr>
                    <td>Выражение</td>
                    <td>Результат</td>
                </tr>
                {% for rec in history %}
                    <tr>
                        <td>
                            {% for num in rec.expression %}
                                {% if num == 0 %}
                                    &nbsp;-&nbsp;
                                {% elif num == -1 %}
                                    &nbsp;+&nbsp;
                                {% else %}
                                    {{ num }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ rec.result }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}