{% extends "base.html" %}
{% block content %}
    <h1 style="text-align:center">Курс "Промышленное программирование"</h1>
    <div class="card">
        <div class="card-header">
            Данные сайта:
        </div>
        <div class="card-body">
            <ul>
                <li>Количество страниц: {{ pages }}</li>
                <li>Автор сайта: {{ auth }}</li>
                <li>Текущая дата: {{ cDate.day }}.{{ cDate.month }}.{{ cDate.year }}</li>
            </ul>
            <p>Текущий пользователь: {{ user }}</p>
        </div>
    </div>
{% endblock %}