{% extends "base.html" %}
{% block content %}
    <h1 style="text-align:center">Разбор слова</h1>
    <div class="row">
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    Входные данные
                </div>
                <div class="card-body">
                    <form action="/str2words/" method="post" style="width:100%">
                        {% csrf_token %}
                        <br>
                        {{ form }}
                        <br>
                        <button type="submit" class="btn btn-primary" style="width:100%;margin-top:2vh;">Отправить слово</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    Выходные данные
                </div>
                <div class="card-body">
                    <p>Количество слов в строке: {{ count_words }}</p>
                    <p>Количество чисел в строке: {{ count_digitals }}</p>
                    <span>Слова в строке</span>
                    <ul>
                        {% for i in words %}
                            <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                    <span>Числа в строке</span>
                    <ul>
                        {% for i in digitals %}
                            <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}