{% extends "base.html" %}
{% block content %}
    <div class="card">
        <div class="card-header">
            История разборов
        </div>
        <div class="card-body">
            <table border="1px" cellpadding="5px" style="width:100%;">
                <tr>
                    <td>Дата</td>
                    <td>Время</td>
                    <td>Строка</td>
                    <td>Количество слов в строке</td>
                    <td>Количество чисел в строке</td>
                    <td>Количество символов в строке</td>
                    <td>Пользователь</td>
                </tr>
                {% for rec in history %}
                <tr>
                    <td>{{ rec.date }}</td>
                    <td>{{ rec.time }}</td>
                    <td>{{ rec.str }}</td>
                    <td>{{ rec.count_words }}</td>
                    <td>{{ rec.count_digitals }}</td>
                    <td>{{ rec.count_chars }}</td>
                    <td>{{ rec.author }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}